<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LibraryBookSystem.Properties.Settings.ist2jyConnectionString" connectionString="Data Source=143.128.146.30\istn2;Initial Catalog=ist2jy;Persist Security Info=True;User ID=ist2jy;Password=11678h;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="LibraryBookSystem.Properties.Settings.ist2koConnectionString" connectionString="Data Source=143.128.146.30\istn2;Initial Catalog=ist2ko;Persist Security Info=True;User ID=ist2ko;Password=jioeox;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>




